<div class="main-content">
  <h1>
    Hello <span class="highlight">{{ userInfo.username }}</span>
  </h1>
  <h2>How can i help you today?</h2>
  <div class="card-row">
    <app-chat-card
      title="What's in my calendar for today?"
      description="Check your schedule for the day"
      (click)="onCardClick($event)"
    ></app-chat-card>
    <app-chat-card
      title="Can I take 15 May off?"
      description="See what's happening in the stock market in real time"
      (click)="onCardClick($event)"
    ></app-chat-card>
    <app-chat-card
      title="How do I reset my VPN?"
      description="See research from experts that we have simplified"
      (click)="onCardClick($event)"
    ></app-chat-card>
  </div>

  <div class="chat-messages">
    <div *ngFor="let msg of messages" [ngClass]="msg.sender">
      <div
        class="bubble"
        [innerHTML]="msg.isHtml ? msg.text : null"
        *ngIf="msg.isHtml"
      ></div>
      <div class="bubble" *ngIf="!msg.isHtml">{{ msg.text }}</div>
    </div>
  </div>

  <app-chat-input (send)="sendMessage($event)"></app-chat-input>
</div>
