<div class="sidebar">
  <div class="logo-section">
    <img style="width: 100px; height: 31px" src="favicon.ico" alt="LyraAI" />
  </div>
  <div class="search-bar-container">
    <input
      type="text"
      placeholder="Search chat"
      [(ngModel)]="search"
      class="search-bar-input"
    />
    <mat-icon class="search-icon">search</mat-icon>
  </div>
  <div class="recent-chats">
    <div class="recent-title">RECENT CHATS</div>
    <div class="chat-item" *ngFor="let chat of recentChats">
      {{ chat.title }}
    </div>
  </div>
</div>
