<div class="sidebar">
  <div class="logo-section">
    <img style="width: 100px; height: 31px" src="favicon.ico" alt="LyraAI" />
  </div>
  <div class="search-bar-container">
    <input
      type="text"
      placeholder="Search chat"
      [(ngModel)]="search"
      class="search-bar-input"
    />
    <mat-icon class="search-icon">search</mat-icon>
  </div>
  <nav class="nav-links">
    <a mat-button>Explore</a>
    <a mat-button>Library</a>
    <a mat-button>Files</a>
    <a mat-button>History</a>
  </nav>
  <div class="recent-chats">
    <div class="recent-title">RECENT CHATS</div>
    <div class="chat-item">Brainstorming small busine...</div>
  </div>
</div>
